*#deployment.config*
*#Mon Nov 14 13:06:38 AST 2011*
*# The First line below specifies if this config is mandatory which is simple enough*
*# The second line just tells Java where to the properties of your Java Configuration*
*# NOTE: These java settings will be applied to each user file and will overwrite existing ones*
deployment.system.config=file\:C\:\\WINDOWS\\Sun\\Java\\Deployment\\deployment.properties
deployment.system.config.mandatory=True
